# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeTools
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build/*