# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.make
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
